#toc-container {
  height: 250px;
  order: 2;
  position: sticky;
  top: 16px;
}

@media (max-width: 990px){
  #toc-container {
    height: auto;
    order: -1;
    position: relative;
  }
}

li.indent {
  text-indent: 1em;
}